.products-wrapper {
  display: flex;
}

.products-item {
  width: 20%;
}
.product-info p{
  color:#2a5ea5;
  font-size: 20px;
   margin: 10px 0;
   text-align: center; 
}
.product-info img{
  display: block;
  width: 40%;
  margin: 20px auto;
}
.close-item{
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 20px;

}